* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: "Epilogue", sans-serif;
  font-size: 1.8rem;
  background-color: hsl(0, 0%, 41%);
}

.wrapper {
  position: relative;
  margin: 0 auto;
  width: 100%;
  min-width: 375px;
  max-width: 1440px;
  display: flex;
  flex-direction: column;
  background-color: hsl(0, 0%, 98%);
  overflow: hidden;
}
.wrapper .logo-and-nav {
  display: flex;
  justify-content: space-between;
  padding: 1.2em 1.2em;
}
.wrapper .logo-and-nav .burger-icon {
  display: block;
  height: 1em;
  cursor: pointer;
  z-index: 100;
}
.wrapper .show {
  transform: translateX(-500px);
}
.wrapper .mobile-navigation {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: -500px;
  height: 100%;
  width: 14em;
  background-color: hsl(0, 0%, 98%);
  transition: transform 0.3s;
  z-index: 10;
}
.wrapper .mobile-navigation .navbar {
  display: flex;
  flex-direction: column;
  position: relative;
  top: 4em;
  font-size: 1.6rem;
}
.wrapper .mobile-navigation .navbar a {
  padding: 1em 3em 0.5em 2em;
  color: hsl(0, 0%, 41%);
  text-decoration: none;
  font-family: "Epilogue", sans-serif;
}
.wrapper .mobile-navigation .navbar a img {
  padding: 0 0.5em;
}
.wrapper .mobile-navigation .navbar .features,
.wrapper .mobile-navigation .navbar .company {
  display: none;
  flex-direction: column;
  align-items: flex-start;
  padding: 0.5em 1em;
}
.wrapper .mobile-navigation .navbar .features img,
.wrapper .mobile-navigation .navbar .company img {
  width: 32px;
  height: 16px;
}
.wrapper .mobile-navigation .login {
  position: relative;
  top: 4.7em;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.wrapper .mobile-navigation .login button {
  font-size: 1.4rem;
  background: none;
  border: none;
  cursor: pointer;
  color: hsl(0, 0%, 41%);
  padding: 1em 5em;
  border-radius: 15px;
  font-family: "Epilogue", sans-serif;
}
.wrapper .mobile-navigation .login button:last-child {
  border: 1px solid hsl(0, 0%, 8%);
}
.wrapper .desktop-navigation {
  display: none;
}
.wrapper .desktop-navigation .features-desktop,
.wrapper .desktop-navigation .company-desktop {
  display: none;
}
.wrapper .site-structure {
  position: relative;
  display: flex;
  flex-direction: column;
}
.wrapper .site-structure .hero-img-mobile {
  display: flex;
  justify-content: center;
  width: 100%;
}
.wrapper .site-structure .hero-img-mobile img {
  width: 100%;
  max-width: 40em;
}
.wrapper .site-structure .hero-img-desktop {
  display: none;
}
.wrapper .site-structure .site-description-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.wrapper .site-structure .site-description-section .title {
  padding: 1.4em 0 0.7em 0;
  font-size: clamp(3.6rem, 8vw, 6rem);
}
.wrapper .site-structure .site-description-section .text {
  padding: 0 1em 0.5em 1em;
  font-size: clamp(1.6rem, 3vw, 1.9rem);
  line-height: 1.5;
  color: hsl(0, 0%, 41%);
  font-weight: 500;
}
.wrapper .site-structure .site-description-section .learn-more-btn {
  margin: 1em;
  padding: 0.7em 1.4em;
  font-size: 1.7rem;
  font-weight: 700;
  color: hsl(0, 0%, 98%);
  background-color: hsl(0, 0%, 8%);
  border-radius: 14px;
  cursor: pointer;
}
.wrapper .site-structure .site-description-section .logos-section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  margin: 0.5em 0 3em 0;
}
.wrapper .site-structure .site-description-section .logos-section .section-logo {
  width: 26%;
  max-width: 10em;
  padding: 1em 0.5em;
}
.wrapper .attribution {
  padding: 1em;
  text-align: center;
}

@media (min-width: 992px) {
  .wrapper .logo-and-nav .logo-dev {
    padding: 0.5em 1em;
  }
  .wrapper .logo-and-nav .logo-dev .site-logo {
    height: 1.5em;
  }
  .wrapper .logo-and-nav .burger-icon {
    display: none;
  }
  .wrapper .desktop-navigation {
    display: flex;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .wrapper .desktop-navigation .navbar-desktop {
    display: flex;
    position: relative;
    justify-content: flex-start;
    align-items: center;
    width: 70%;
    top: 0;
    left: 9.5em;
    height: 86px;
  }
  .wrapper .desktop-navigation .navbar-desktop a {
    font-size: 1.5rem;
    text-decoration: none;
    padding: 0 1.2em;
    color: hsl(0, 0%, 41%);
  }
  .wrapper .desktop-navigation .navbar-desktop a:hover {
    color: hsl(0, 0%, 8%);
  }
  .wrapper .desktop-navigation .navbar-desktop .features-desktop,
  .wrapper .desktop-navigation .navbar-desktop .company-desktop {
    position: absolute;
    flex-direction: column;
    top: 4em;
    padding: 1em;
    background-color: hsl(0, 0%, 98%);
    box-shadow: 0px 0px 15px hsl(0, 0%, 41%);
    border-radius: 10px;
    z-index: 100;
  }
  .wrapper .desktop-navigation .navbar-desktop .features-desktop a,
  .wrapper .desktop-navigation .navbar-desktop .company-desktop a {
    padding: 0.5em 0;
  }
  .wrapper .desktop-navigation .navbar-desktop .features-desktop {
    left: -2.5em;
  }
  .wrapper .desktop-navigation .navbar-desktop .features-desktop img {
    padding-right: 1em;
    width: 24px;
  }
  .wrapper .desktop-navigation .navbar-desktop .company-desktop {
    left: 7.5em;
  }
  .wrapper .desktop-navigation .login-desktop {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 27%;
    top: 0;
    right: 0;
    height: 86px;
  }
  .wrapper .desktop-navigation .login-desktop button {
    font-size: 1.4rem;
    height: 3em;
    padding: 0 1.5em;
    margin-left: 1.5em;
    background: none;
    border: none;
    cursor: pointer;
    color: hsl(0, 0%, 41%);
    border-radius: 15px;
    font-family: "Epilogue", sans-serif;
  }
  .wrapper .desktop-navigation .login-desktop button:last-child {
    border: 1px solid hsl(0, 0%, 41%);
  }
  .wrapper .desktop-navigation .login-desktop button:hover {
    color: hsl(0, 0%, 8%);
  }
  .wrapper .desktop-navigation .login-desktop button:last-child:hover {
    border: 1px solid hsl(0, 0%, 8%);
  }
  .wrapper .site-structure {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-bottom: 5em;
  }
  .wrapper .site-structure .hero-img-mobile {
    display: none;
  }
  .wrapper .site-structure .hero-img-desktop {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .wrapper .site-structure .hero-img-desktop img {
    width: 33vw;
    min-width: 400px;
    max-width: 470px;
  }
  .wrapper .site-structure .site-description-section {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 2;
    display: flex;
    align-items: flex-start;
    margin-left: 9em;
  }
  .wrapper .site-structure .site-description-section .title {
    padding-top: 1.5em;
    padding-right: 0.2em;
    text-align: left;
    font-size: clamp(4rem, 7vw, 8rem);
  }
  .wrapper .site-structure .site-description-section .text {
    text-align: left;
    padding: 0;
    padding-right: 10%;
  }
  .wrapper .site-structure .site-description-section .learn-more-btn {
    font-size: 2rem;
    margin: 3em 0 4em 0;
    transition: background-color 0.3s;
  }
  .wrapper .site-structure .site-description-section .learn-more-btn:hover {
    background-color: hsl(0, 0%, 98%);
    color: hsl(0, 0%, 8%);
  }
  .wrapper .site-structure .site-description-section .logos-section {
    position: relative;
    width: 90%;
    margin-bottom: 0;
  }
  .wrapper .site-structure .site-description-section .logos-section .section-logo {
    max-height: 70px;
    -o-object-fit: contain;
       object-fit: contain;
  }
  .wrapper .site-structure .site-description-section .logos-section .section-logo:first-child {
    padding-left: 0;
  }
}/*# sourceMappingURL=style.css.map */