* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

$almost-white: hsl(0, 0%, 98%);
$medium-gray: hsl(0, 0%, 41%);
$almost-black: hsl(0, 0%, 8%);

html {
	font-size: 62.5%;
}

body {
	font-family: 'Epilogue', sans-serif;
	font-size: 1.8rem;
	background-color: $medium-gray;
}

.wrapper {
	position: relative;
	margin: 0 auto;
	width: 100%;
	min-width: 375px;
	max-width: 1440px;
	display: flex;
	flex-direction: column;
	background-color: $almost-white;
	overflow: hidden;

	.logo-and-nav {
		display: flex;
		justify-content: space-between;
		padding: 1em 1em;

		.burger-icon {
			cursor: pointer;
			z-index: 100;
		}
	}

	.show {
		transform: translateX(-500px);
	}

	.mobile-navigation {
		display: flex;
		flex-direction: column;
		position: absolute;
		right: -500px;
		height: 100%;
		width: 14em;
		background-color: $almost-white;
		transition: transform 0.3s;

		.navbar {
			display: flex;
			flex-direction: column;
			position: relative;
			top: 4em;
			font-size: 1.6rem;

			a {
				padding: 1em 3em 0.5em 2em;
				color: $medium-gray;
				text-decoration: none;
				font-family: 'Epilogue', sans-serif;
			}

			.features,
			.company {
				display: none;
				flex-direction: column;
				padding: 0.5em 1.5em;
			}
		}

		.login {
			position: relative;
			top: 5.5em;
			display: flex;
			flex-direction: column;
			align-items: center;

			button {
				font-size: 1.4rem;
				background: none;
				border: none;
				cursor: pointer;
				color: $medium-gray;
				padding: 1em 5em;
				border-radius: 15px;
				font-family: 'Epilogue', sans-serif;
			}

			button:last-child {
				border: 1px solid $almost-black;
			}
		}
	}

	.desktop-navigation {
		display: none;
		position: absolute;
		top: 0;
		width: 100%;

		.navbar-desktop {
			display: flex;
			position: relative;
			justify-content: flex-start;
			align-items: center;
			width: 70%;
			padding: 0.5em;
			top: 0;
			left: 12em;
			height: 100px;

			a {
				text-decoration: none;
				padding: 0 1em;
				color: $medium-gray;
			}

			.features-desktop,
			.company-desktop {
				display: none;
			}
		}

		.login-desktop {
			position: relative;
			display: flex;
			justify-content: flex-end;
			align-items: center;
			width: 25%;
			top: 0;
			right: 0;
			height: 100px;

			button {
				font-size: 1.4rem;
				height: 3em;
				padding: 0 1.5em;
				background: none;
				border: none;
				cursor: pointer;
				color: $medium-gray;
				border-radius: 15px;
				font-family: 'Epilogue', sans-serif;
			}

			button:last-child {
				border: 1px solid $almost-black;
			}
		}
	}

	.site-structure {
		position: relative;
		
		.hero-image {
			position: relative;
			height: 500px;
			width: 500px;

			.hero-img {
				position: absolute;
				width: 100%;
				height: 100%;
				background-image: url(../images/image-hero-mobile.png);
			}
		}

		.site-description-section {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			text-align: center;

			.title {
				padding: 1em 0;
			}

			.text {
				padding: 0 1em;
				font-size: 1.6rem;
				line-height: 1.5;
				color: $medium-gray;
				font-weight: 500;
			}

			.learn-more-btn {
				margin: 1em;
				padding: 0.7em 1.4em;
				font-size: 1.8rem;
				color: $almost-white;
				background-color: $almost-black;
				border-radius: 15px;
				cursor: pointer;
			}

			.logos-section {
				width: 100%;
				display: flex;
				justify-content: center;
				align-items: center;

				.section-logo {
					width: 26%;
					padding: 1em 0.5em;
				}
			}
		}
	}

	.attribution {
		padding: 1em;
		text-align: center;
	}
}

@media (min-width: 992px) {
	.wrapper {
		.logo-and-nav {
			.logo-dev {
				padding: 1em;

				.site-logo {
					height: 2em;
				}
			}
			.burger-icon {
				display: none;
			}
		}

		.desktop-navigation {
			display: flex;

			.navbar-desktop {
				.features-desktop {
					position: absolute;
					display: none;
					flex-direction: column;
					top: 4.5em;
					left: -3em;
					padding: 1em 2em;
					background-color: $almost-white;
					box-shadow: 0px 0px 15px $medium-gray;
					border-radius: 10px;

					a {
						padding: 0.5em 0;
					}
				}

				.company-desktop {
					position: absolute;
					display: none;
					flex-direction: column;
					top: 4.5em;
					left: 9em;
					padding: 1em 2em;
					background-color: $almost-white;
					box-shadow: 0px 0px 15px $medium-gray;
					border-radius: 10px;

					a {
						padding: 0.5em 0;
					}
				}
			}
		}

		.site-structure {
			display: grid;
			grid-template-columns: 60% 40%;

			.hero-image {
				grid-column-start: 2;
				grid-column-end: 3;
			}

			.site-description-section {
				grid-row-start: 1;
				grid-row-end: 2;
				grid-column-start: 1;
				grid-column-end: 2;
				display: flex;
				align-items: flex-start;
				margin-left: 4em;

				.title {
					text-align: left;
					font-size: 7rem;
				}
			}
		}
	}
}
