* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

$almost-white: hsl(0, 0%, 98%);
$medium-gray: hsl(0, 0%, 41%);
$almost-black: hsl(0, 0%, 8%);

html {
	font-size: 62.5%;
}

body {
	font-family: 'Epilogue', sans-serif;
	font-size: 1.8rem;
	background-color: $medium-gray;
	overflow: hidden;
}

.wrapper {
	position: relative;
	margin: 0 auto;
	width: 100%;
	min-width: 375px;
	max-width: 1440px;
	display: flex;
	flex-direction: column;
	background-color: $almost-white;

	.logo-and-nav {
		display: flex;
		justify-content: space-between;
		padding: 1em 1em;

        .burger-icon {
            cursor: pointer;
            z-index: 100;
        }
	}

	.show {
		transform: translateX(-500px);
	}

	.mobile-navigation {
		display: flex;
		flex-direction: column;
		position: absolute;
		right: -500px;
		height: 100%;
        width: 14em;
		background-color: $almost-white;
		transition: transform 0.3s;

		.navbar {
			display: flex;
			flex-direction: column;
			position: relative;
			top: 4em;
            font-size: 1.6rem;

			a {
				padding: 1em 3em 0.5em 2em;
				color: $medium-gray;
				text-decoration: none;
				font-family: 'Epilogue', sans-serif;
			}

			.features,
			.company {
				display: none;
				flex-direction: column;
				padding: 0.5em 1.5em;
			}
		}

		.login {
			position: relative;
			top: 5.5em;
			display: flex;
			flex-direction: column;
			align-items: center;

			button {
				font-size: 1.4rem;
				background: none;
				border: none;
				cursor: pointer;
				color: $medium-gray;
				padding: 1em 5em;
				border-radius: 15px;
				font-family: 'Epilogue', sans-serif;
			}

			button:last-child {
				border: 1px solid $almost-black;
			}
		}
	}

	.desktop-navigation {
		display: none;
	}

	.hero-image {
		img {
			padding: 0.5em 0;
			width: 100%;
		}
	}

	.site-description-section {
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;

		.title {
			padding: 1em 0;
		}

		.text {
			padding: 0 1em;
			font-size: 1.6rem;
			line-height: 1.5;
			color: $medium-gray;
			font-weight: 500;
		}

		.learn-more-btn {
			margin: 1em;
			padding: 0.7em 1.4em;
			font-size: 1.8rem;
			color: $almost-white;
			background-color: $almost-black;
			border-radius: 15px;
			cursor: pointer;
		}
	}

	.logos-section {
		width: 100%;
		display: flex;
		justify-content: center;
		align-items: center;

		.section-logo {
			width: 26%;
			padding: 1em 0.5em;
		}
	}

	.attribution {
		padding: 1em;
		text-align: center;
	}
}
